@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;700;800;900&family=Poppins:wght@100;200;400;600;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#06202A] text-gray-300 overflow-x-hidden;
  }
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Poppins";
}
